@import 'sass/reset.scss';
@import 'sass/nav.scss';

$tile-accent: rgba(205, 191, 105, 1);
$color-backdrop: #efebe9;
$color-accent: #AA4639;
$color-bright: rgba(107, 192, 198, .7);
$light-primary: rgba(0, 0, 0, 1);
$light-secondary: rgba(0, 0, 0, 1);
$light-hint: rgba(0, 0, 0, 1);

@mixin tile($color){
  text-align: center;
  width: 100%;
  background-color: $color;
  height: 400px;
  margin-left: 0;
  vertical-align: middle;
  padding-top: 100px;
}

body {
  background-color: $color-backdrop;
  height: 1000px;
  font-family: 'Source Sans Pro', sans-serif;
}

#viewBox {
  padding-top: 130px;
}
h2 {
  margin-bottom: 10px;
}
p {
  font-size: 18px;
}

.note{
@include tile($color-bright)
  p {
    font-style: italic;
    padding-top: 10px;
  }

  h1 {
    margin: 20px auto;
    font-size: 90px;
    font-weight: bold;
  }
}
#overview {
  @include tile($tile-accent);
  h1 {
    margin: 40px auto;
  }
}



// .ng-hide-add, .ng-hide-remove {
//   animation:0.3s appear ease;
// }
.ng-enter{
  animation: fade 0.5s linear;
  -webkit-animation: fade 0.5s linear;
}


@keyframes fade {
  from { opacity:0; }
  to { opacity:1; }
}

@-webkit-keyframes fade {
  from { opacity:0; }
  to { opacity:1; }
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

graph{
  margin-left: 20px;
}
