@import 'sass/reset.scss';
@import 'sass/nav.scss';


$color-backdrop: #efebe9;
$color-accent: #AA4639;
$light-primary: rgba(0, 0, 0, 1);
$light-secondary: rgba(0, 0, 0, 1);
$light-hint: rgba(0, 0, 0, 1);


body {
  background-color: $color-backdrop;
  height: 1000px;
  font-family: 'Source Sans Pro', sans-serif;
}

div {
  padding: 15px;
  margin: 0 auto;
  height: 500px;
}
#viewBox {
  padding-top: 200px;
}
h2 {
  margin-bottom: 10px;
}
p {
  font-size: 18px;
}

// .ng-hide-add, .ng-hide-remove {
//   animation:0.3s appear ease;
// }
.ng-enter{
  animation: scaleUp 0.5s both ease-in; z-index: 8888;
}
.ng-leave{
  animation: slideOut 0.5s both ease-in; z-index: 9999;
}

@keyframes slideIn {
  from    { transform:translateX(100%); }
   to      { transform: translateX(0); }
}
@keyframes slideOut {
  from    { transform: translateX(0); }
   to     { transform:translateX(100%); }
}

@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}
