<main class="note" id="overview"> 
<h2> Prevent it! </h2>

<button ng-click="main.topTen = !main.topTen">OWASP Top Ten</button>

<div id="topTen" ng-hide="!main.topTen">
  <h2>A1 Prevention</h2>
  <h2>A2 Weak Authentication and Session Management</h2>
  <h2>A3 XSS</h2>
  <h2>A4 Insecure Direct Object References</h2>
  <h2>A5 Security Misconfiguration</h2>
  <h2>A6 Sensitive Data Exposure</h2>
  <h2>A7 Missing Function Level Access Control</h2>
  <h2>A8 Cross Site Request Forgery</h2>
  <h2>A9 Using Componenets with Known Vulnerabilities</h2>
  <h2>A10 Unvalidated Redirects and Forwards</h2>
</div>
</main>
